{% extends "layout.html" %}
{% block content %}

<style>
    input[type=text], select {
      width: 100%;
      padding: 3px 7px;
      color: #ccc;
      /* margin: 8px 0; */
      /* display: inline-block; */
      /* border: 1px solid #ccc;
      border-radius: 4px; */
      /* box-sizing: border-box; */
    }
    
    /* input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 4px 7px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    } */
</style>

<form name="form1" id="form1" action="{{url_for('login_user')}}" method = "POST">
    <tr><td><input type = "text" name = "Username" value = {{name}} readonly hidden/></td></tr>
    <tr><td><input type = "text" name = "bit" value = "1" readonly hidden/></td></tr>
    <tr><td></td><td><input type="submit" value="Dashboard"></td></tr>
</form>

<h1>{{name}}, you have completed {{num}} referrals. Keep referring and keep earning more!</h1>
<h1>What's more, your referee friend will also earn ₹100! It's a win-win!</h1>

<table>
    <tr>
        <th>Milestone</th>
        <th>Incentive</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>3rd Referral</td>
        <td>₹100</td>
        <td>{{one}}</td>
    </tr>
    <tr>
        <td>5th Referral</td>
        <td>₹400</td>
        <td>{{two}}</td>
    </tr>
    <tr>
        <td>6th Referral Onwards</td>
        <td>₹100/Referral</td>
        <td>{{three}}</td>
    </tr>
</table>

<p><a href="/">Logout</a></p>
{% endblock %}