{% extends "layout.html" %}
{% block content %}

<style>
    input[type=text], select {
      width: 100%;
      padding: 3px 7px;
      color: #ccc;
    }
</style>

<form name="form1" id="form1" action="{{url_for('login_user')}}" method = "POST">
    <tr><td><input type = "text" name = "Username" value = {{name}} readonly hidden/></td></tr>
    <tr><td><input type = "text" name = "bit" value = "1" readonly hidden/></td></tr>
    <tr><td></td><td><input type="submit" value="Dashboard"></td></tr>
</form>

<h1>Congrats {{name}}!</h1>

<h1>Your Referral Code is: {{code}}</h1>

<h2>Share your referral code on social media!</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="https://facebook.com" target = "_blank" class="fa fa-facebook"></a>
<a href="https://twitter.com" target = "_blank" class="fa fa-twitter"></a>

<h1>Share your referral code and earn Grofers Cash for yourself and your friends!</h1>

<p><a href="/">Logout</a></p>
{% endblock %}